fastapi
uvicorn[standard]
pydantic
pydantic-settings
qdrant-client
langgraph
langchain
langchain-core
langchain-groq
pymupdf
python-jose[cryptography]
bcrypt
python-multipart
python-dotenv
fastembed
python-docx
markdown2
langgraph-checkpoint-sqlite
streamlit
edge-tts
ragas
datasets
pytest
pytest-asyncio
pytest-xdist
beautifulsoup4
