fastapi
uvicorn[standard]
pydantic
pydantic-settings
qdrant-client
langgraph
langchain
langchain-core
langchain-groq
pymupdf
python-jose[cryptography]
bcrypt==3.2.2
passlib[bcrypt]
python-multipart
python-dotenv
FlagEmbedding
torch
python-docx
markdown2
langgraph-checkpoint-sqlite
